mixin ImageAndTextCTA(title, desc, src, bgColour='bg-light', animationDelay='300', order='', btn=false)
  section(class="bg-info px-2 pt-3 pb-0 container-fluid" class=bgColour)
    div(class="container")
      div.row
        div(class="col-lg-6 text-center order-2 order-lg-1 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay=animationDelay data-aos-easing="ease-in-out")
          img(data-src=src class='img-fluid' alt='Capital On Tap')
        div(class="col-lg-6 text-center text-lg-left" class=order)
          div.d-flex.flex-column.h-100.justify-content-center.pr-0
            h2= title
            p= desc
            if btn
              div
                button(class="btn btn-secondary d-flex font-weight-bold m-auto m-lg-0") FIND OUT MORE
