mixin ImageAndTextCTA(title, desc, src, bgColour='bg-light', animationDelay='300', order='', btn=false, mobileIcons=false)
  section(class="bg-info px-2 pt-5 pb-0 container-fluid" class=bgColour)
    div(class="container")
      div.row
        div(class="col-lg-6 text-center order-2 order-lg-1 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay=animationDelay data-aos-easing="ease-in-out")
          img(data-src=src class='img-fluid' alt='Capital On Tap')
        div(class="col-lg-6 text-center text-lg-left" class=order)
          div.d-flex.flex-column.h-100.justify-content-center.pr-0
            h2= title
            p= desc
            if btn
              div
                a( href="#" class="btn btn-secondary text-white font-weight-bold m-auto m-lg-0") FIND OUT MORE
            if mobileIcons
              div.my-2
                img(data-src="/img/app-store.svg" class='img-fluid mb-2 mb-md-0 mr-0 mr-md-4' alt='App Store')
                img(data-src="/img/google-play.svg" class='img-fluid' alt='Google Play')
