extends ../../pages-template/layout.pug

block headTitle
    title FAQ's

block body
  main#faq.pt-8.bg-light
    section(class="img-fluid container-fluid d-flex justify-content-center")
      div.container.px-0.py-3.py-lg-5.d-flex.justify-content-center.flex-column
        div.text-center
          h1 Frequently asked questions
    section(class="container-fluid pb-2 pb-md-5 px-0 text-center")
      div.container
        div#faq-cards.d-flex.flex-wrap.justify-content-around
          block body
            each item in faqTopics
              div.faq-card-topic.card.shadow.border-0.mx-0.mx-md-2.mb-4
                div.card-body
                  img(data-src=item.src class='img-fluid mb-1' alt='Capital On Tap')
                  h5.card-title.mb-1= item.text1
                  a(class="d-inline-flex justify-content-center blue" href=`#${item.link}`)
                    span See all answers
                    span.mi.mi-arrow-forward.ml-1
    section(class="container-fluid pt-2 pt-md-5 px-0 pb-2 pb-md-4")
      div.container
        div(class="form-group position-relative")
          img(data-src="img/icons/search-icon.svg" class='img-fluid search-icon position-absolute' alt='Capital On Tap')
          input(type="search" class="form-control border-0" placeholder="What can we help with?")
    section(class="container-fluid pb-5 px-0 text-left")
      div.container
        div#accordion
          block body
            each item, index in faqTopics
              h3(id=item.link class="card-title mb-4")= item.text1
              div(id="accordion" class="mb-4")
                div(class="card mb-3 shadow border-0")
                  div(class="card-header border-0 pr-5 position-relative" id="headingOne")
                    h5(class="mb-0" role="button" data-toggle="collapse" data-target=`#${item.link + index}` aria-expanded="false" aria-controls=`${item.link + index}`)
                      button(class="btn btn-link p-0 text-left w-100 position-relative") Will applying with COT affect my credit rating?
                      img(data-src="img/icons/add-icon.svg" class='img-fluid search-icon position-absolute' alt='Capital On Tap')
                      img(data-src="img/icons/remove-icon.svg" class='img-fluid remove search-icon position-absolute' alt='Capital On Tap')
                  div(id=`${item.link + index}` class="collapse" aria-labelledby="headingOne" data-parent="#accordion")
                    div(class="card-body") Our 1 page application will ask for business and basic personal information. If you are a limited company please have your registered number to hand. Once you’re signed up, our business compliance team will check that your business complies with regulatory requirements and if all conditions are met we will send you your Visa Card to access your funds. In some circumstances we may require further information on your business such as business trading activity or the names and address of the additional business owners; we will contact you within 1 business day via email if this is the case and inform you of any requirements in order to complete your application.
                div(class="card mb-3 shadow border-0")
                  div(class="card-header border-0 pr-5 position-relative" id="headingTwo")
                    h5(class="mb-0" role="button" data-toggle="collapse" data-target=`#${item.link + index}1` aria-expanded="false" aria-controls=`${item.link + index}1`)
                      button(class="btn btn-link p-0 text-left w-100 position-relative") What happens when my card arrives?
                      img(data-src="img/icons/add-icon.svg" class='img-fluid search-icon position-absolute' alt='Capital On Tap')
                      img(data-src="img/icons/remove-icon.svg" class='img-fluid remove search-icon position-absolute' alt='Capital On Tap')
                  div(id=`${item.link + index}1` class="collapse" aria-labelledby="headingTwo" data-parent="#accordion")
                    div(class="card-body") Our 1 page application will ask for business and basic personal information. If you are a limited company please have your registered number to hand. Once you’re signed up, our business compliance team will check that your business complies with regulatory requirements and if all conditions are met we will send you your Visa Card to access your funds. In some circumstances we may require further information on your business such as business trading activity or the names and address of the additional business owners; we will contact you within 1 business day via email if this is the case and inform you of any requirements in order to complete your application.
    section(class="container-fluid bg-info py-5 px-0 text-center")
      div.container
        h2.card-title.mb-2 Can't find your answer? 
        p.mb-2 Contact our outstanding 24/7 customer service team for help. 
        a(class="d-inline-flex justify-content-center blue" target="_blank" href="mailto:contact@capitalontap.com")
          span contact@capitalontap.com
          span.mi.mi-mail-outline.ml-1
                   


